<h1 mat-dialog-title>Movie</h1>
<div mat-dialog-content style="background-color: white;"class="contentBox">
    <h5>Name</h5>
    <p> {{data.name}} </p>
<br>
    <h5>Duration</h5>
      <p> {{data.duration}} </p>
<br>
    <h5>Year</h5>
    <p> {{data.year}}</p>
<br>
    <h5>link</h5>
    <a href="{{data.link}}" target="_blank">link to profile in IMDB</a>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" >Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial >Edit</button>
  <button mat-button (click)="openDeleteDialog(data.event_id)" >Delete</button>
</div>
