<h1 mat-dialog-title>Movie</h1>
<div mat-dialog-content style="background-color: white;"class="contentBox">
    <h5>Name</h5>
    <p> {{data.name}} </p>
<br>
    <h5>Duration</h5>
      <p> {{data.duration}} </p>
<br>
    <h5>Year</h5>
    <p> {{data.year}}</p>
<br>
    <h5>link</h5>
    <a href="{{data.link}}" target="_blank">link to profile in IMDB</a>
<br>
<button (click)=add()> add</button>
<div *ngIf=isAdd>
    <mat-form-field >
        <p> Start </p>
      <input type="datetime-local" matInput [(ngModel)]="data.start">
      </mat-form-field>
      <mat-form-field >
          <p> End </p>
        <input type="datetime-local" matInput [(ngModel)]="data.end">
        </mat-form-field>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" >Cancel</button>
  <button *ngIf=isAdd mat-button [mat-dialog-close]="data" cdkFocusInitial >Submit</button>
</div>
